<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <ul>
        <li><a href="{{ path('files') }}">files</a></li>
        <li><a href="{{ path('filters') }}">filters</a></li>
        <li><a href="{{ path('tags') }}">tags</a></li>
        <li><a href="{{ path('protometa') }}">protometa</a></li>
    </ul>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>
